.list-group-item {
  background: #C0C0C0;
}
.encabezado {
  background: #C0C0C0;
  height: auto;
}

.scroll
	{
  overflow-x: scroll;
  display: block;
  table-layout: fixed;
 white-space: nowrap;
  height:200px;
  width:auto;
  /*hide all borders that make rows not filled with the table width*/
  border:1px solid #000000; /* Solo lo puse para que se vea el cuadro*/

  }
  
  


